@charset "UTF-8";
/* CSS Document */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  height: 100%;
  margin: 0;
}

.max-width-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  min-height: 100%; 
 } 

/**************************************************/
/* Credit Card Form Page */
/**************************************************/

.top-image-container {
  position: relative;
  background-color: #21092F;
  margin: 0;
  height: 240px;
  width: 375px;
  margin-bottom: 91px;
  box-shadow: 
  0px 4px 4px 0 rgba(0, 0, 0, 0.25),
  0px 39px 60px 0 rgba(0, 0, 0, 0.1425);
}

figure {
  margin: 0; 
}

img {
  width: 100%;
  min-height: 100%;
  border-radius: 7px;
}

.cc-back-wrapper {
  margin: 0;
  position: absolute;
  top: 32px;
  left: 73px;
  width: 286px;
  height: 157px;
}

.cc-front-wrapper {
  border-radius: 7px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 126px;
  left: 16px;
  width: 286px;
  height: 157px;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/**************************************************/
/* Form Section */
/**************************************************/
form {
  display: flex;
  flex-flow: column wrap;
  margin-left: 24px;
  margin-right: 24px;
  width: 327px;
}

.exp-cvc-container {
  display: flex;
}

label {
  color: #21092F;
  font-weight: 500;
  font-size: 12px;
  line-height: 15.31px;
  text-transform: capitalize;
  letter-spacing: 2px;
}

input {
  padding: 0;
  height: 45px;
  border: 1px solid #DFDEE0;
  margin-top: 9px;
  /* margin-bottom: 31px; */
  border-radius: 8px;
  font-size: 18px;
  padding-left: 16px;
}

input::placeholder {
  color: #DFDEE0;
  font-size: 18px;
  line-height: 23px; 
}
/* Applied to the input box to warn of error */
.error {
  border: 1px solid rgba(255, 80, 80, 1);
}
.error-message {
  color: rgba(255, 80, 80, 1);
  font-size: 12px;
  padding: 0;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 26px;
  height: 15.31px;
}

.exp-wrapper {
  display: flex;
  flex-direction: row;
}

.exp-wrapper input {
  width: 72px;
  justify-content: space-between;
}

.exp-wrapper input:first-of-type {
  /* margin-right: 6px; */
}

.cvc-wrapper input {
  width: 164px;
}

.confirm-button {
  height: 53px;
  background-color: #21092F;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 22.97px;
  border-radius: 8px;
  border: none;
}

/**************************************************/
/* Change of Visibility */
/**************************************************/

.entry-page-display {
  /* display: none; */
}
.thank-you-page-display{
  display: none;
}

/**************************************************/
/* Thank You Page */
/**************************************************/

.thank-you-details-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-flow: column wrap;
  margin: 0;
  margin-left: 24px;
  margin-right: 24px;
  width: 327px;
}

/* Checkmark image */
.circle-container {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 80px;
  height: 80px;
  margin: 0;
  margin-bottom: 35px;
}

.thank-you-container {
  text-align: center;
}

.thank-you {
  color: #21092F;
  font-size: 28px;
  line-height: 35.73px;
  letter-spacing: 3.42px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 16px;
}

.thank-you-message  {
  color: #8F8694;
  font-size: 18px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 48px;
}

.continue-button {
  height: 53px;
  width: 327px;
  background-color: #21092F;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 22.97px;
  border-radius: 8px;
  border: none;
}

/**************************************************/
/* Footer Section */
/**************************************************/
footer a {
  color: black;
}

.front-end-mention {
  text-align: center;
  margin-bottom: 0;
  margin-top: 35px;
}

.coded-by {
  text-align: center;
  margin-top: 0;
}

/**************************************************/
/* Desktop Section */
/**************************************************/
/* Credit Card Form Page -Desktop */

@media (min-width: 1200px) {
  .max-width-container {
    justify-content: space-between;
  }

  .entry-page-wrapper {
    display: flex;
    flex-direction: row;
  }

  .top-image-container {
    width: 483px;
    min-height: 900px;
    margin-bottom: 0;
    box-shadow: none;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 957px;
  }

  form { 
    width: 381px;
    margin-left: 127px;
  }
  
  .cc-front-wrapper {
    border-radius: 10px;
    margin: 0;
    position: absolute;
    top: 187px;
    left: 164px;
    width: 447px;
    height: 245px;
    box-shadow: 
    0px 39px 60px 0 rgba(0, 0, 0, 0.1425);
  }
  
  .cc-back-wrapper {
    border-radius: 10px;
    margin: 0;
    position: absolute;
    top: 469px;
    left: 258px;
    width: 447px;
    height: 245px;
    box-shadow: 
    0px 39px 60px 0 rgba(0, 0, 0, 0.1425);
  }  

  img {
  border-radius: 10px;
  }

  .max-width-container {
    justify-content: space-between;
  }

  .thank-you-page-wrapper {
    display: flex;
    flex-direction: row;
  }

  .top-image-container {
    width: 483px;
    min-height: 900px;
    margin-bottom: 0;
    box-shadow: none;
  }

  .thank-you-details-wrapper {
    width: 957px;
    margin: 0;
  }

  .continue-button {
    width: 381px;
  }

  .circle-container,
  .thank-you-container {
    margin-left: 127px;
  }
}